html {
    background:linear-gradient(to bottom right, rgb(95, 161, 125), rgb(201, 109, 124)) ;
    /*min-height: auto; creo que asi se ve mejor*/

}
#contenedorCanvas {
    display: flex;
    justify-content: center;
}
canvas {
    background-color: #57bde7;
    display: flex;
    justify-items: center;
    border: #a1ddc4 3px solid;
}
.titulo {
    text-align: center;
    color: white;
}


